<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .h1 {
      font-size: 40px;
      margin-bottom: 40px;
    }

    img {
      margin: 0 auto;
      width: 500px;
      height: 7000px;
    }
  </style>
</head>

<body>
  <div class="h1">Bangv1</div>
  <div>*****************************</div>
  <div id='root' class="lv1">
    <div v-on:click="press" class="lv2" style="font-size: 30px;">
      FORM {{3*msg}} TO {{'$'+msg+'.'+msg2}} AT MOST
    </div>
    <div>title</div>
    <div v-if='false'>content - 1 <div>a</div>
    </div>
    <div v-if='show'>content - 2 <div>a</div>
    </div>
    <div v-if='show'>content - 3<div>a</div>
    </div>
    <div>content - 4</div>
  </div>
  <div>-------------------------</div>
  <div id='source' v-on:click="msg1">{{msg}}
    <div id='s'>c</div>
  </div>
  <div style="float: right;">
    <img style="width:600px;height:1500px;" src="file:///C:/Users/Chai/Desktop/lifecycle.png" alt="">
  </div>
  <script src="./dist/main.js"></script>
  <script src="./svue.js"></script>
  <script>
    var app = document.getElementById('source')
    var app1 = new Vue({
      el: '#source',
      // template:`<div>this is a node{{msg}}</div>`,
      data: {
        msg: 'Hello Vue!'
      },
      methods: {
        msg1() {
          console.log('source of vue')
        }
      }
    })
  </script>
</body>

</html>